lib/schema/at/pain.001.001.03.at.004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Edited by Hendrik Muus, STUZZA, AT -->
<!-- ***** Change log at end of document -->
<!-- Definition for validation according SEPA RB 7.x, 8.x, 2017-V1 and related IGL 7.0, 8.0, 2017-V1 plus additional options for use in Austria -->
<xd:schema xmlns="ISO:pain.001.001.03:APC:STUZZA:payments:004" xmlns:_="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" xmlns:xd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" elementFormDefault="qualified" version="Corrigendum.2">
	<xd:annotation>
		<xd:documentation>
***********************
This schema has the AT namspace ***ISO:pain.001.001.03:APC:STUZZA:payments:004*** and the version ***Corrigendum.2***

Nevertheless it uses the original ***pain.001.001.03.xsd*** for namespace ***urn:iso:std:iso:20022:tech:xsd:pain.001.001.03***
to redefine the original by deriving types by restriction and add documentation to elements and structure

This ensures that a instanciation of a XML file will need to carry the original namespace while concurrently ensure restriction conformance.

***********************</xd:documentation>
	</xd:annotation>
	<!-- Include code list file -->
	<!--  ********************** start replace include node with copy of type definitions of schema to get standalone schema  -->
	<xd:include schemaLocation="pain.001_codelists.xsd"/>
	<!--  ********************** end replace include node with copy of type definitions of schema to get standalone schema  -->
	<!-- Redefinition through deriving types by restriction and added documentation -->
	<xd:redefine schemaLocation="pain.001.001.03.xsd">
		<!-- simple types -->
		<!-- EPC driven -->
		<xd:simpleType name="ChargeBearerType1Code">
			<xd:restriction base="_:ChargeBearerType1Code">
				<xd:enumeration value="SLEV">
					<xd:annotation>
						<xd:documentation xml:lang="de">Spesenoption gemäß SEPA Richtlinie</xd:documentation>
						<xd:documentation xml:lang="en">Charge option according SEPA regulation</xd:documentation>
					</xd:annotation>
				</xd:enumeration>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="DecimalNumber">
			<xd:restriction base="_:DecimalNumber">
				<xd:annotation>
					<xd:documentation xml:lang="de">Der Maximalwert der Kontrolsumme. Mehr kann eine Datei nicht beauftragen</xd:documentation>
					<xd:documentation xml:lang="en">The maximum value of the control sum. One file cannot instruct lager values</xd:documentation>
				</xd:annotation>
				<xd:minInclusive value="0.01"/>
				<xd:maxInclusive value="999999999999.99"/>
				<xd:fractionDigits value="2"/>
				<xd:totalDigits value="14"/>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="DocumentType3Code">
			<xd:restriction base="_:DocumentType3Code">
				<xd:enumeration value="SCOR">
					<xd:annotation>
						<xd:documentation xml:lang="de">Vom Empänger vorgegebene Referenz zur Zuordnung des Eingangs</xd:documentation>
						<xd:documentation xml:lang="en">Referenz assigned by creditor to identify and associate receipt</xd:documentation>
					</xd:annotation>
				</xd:enumeration>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="PaymentMethod3Code">
			<xd:restriction base="_:PaymentMethod3Code">
				<xd:enumeration value="TRF">
					<xd:annotation>
						<xd:documentation xml:lang="de">SEPA reguliert nur Standard-Massenzahlungsverkehrs-Aufträge</xd:documentation>
						<xd:documentation xml:lang="en">SEPA regulates just standard mass payments initiations</xd:documentation>
					</xd:annotation>
				</xd:enumeration>
			</xd:restriction>
		</xd:simpleType>
		<!-- AT specific -->
		<xd:simpleType name="Max15NumericText">
			<xd:restriction base="_:Max15NumericText">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung der Länge des Transaktionszählers</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of length of transaction counter</xd:documentation>
				</xd:annotation>
				<xd:pattern value="[1-9][0-9]{0,5}">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<!-- EPC driven with AT specific content -->
		<xd:simpleType name="Max140Text">
			<xd:restriction base="_:Max140Text">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Namen und Verwendungszweck

Ein Text oder Wert muß mindestens ein druckbares Zeichen enthalten</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of character set for names and remittance information

A text or value must contain at least one printable character</xd:documentation>
				</xd:annotation>
				<xd:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Max35Text">
			<xd:restriction base="_:Max35Text">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Namen

Ein Text oder Wert muß mindestens ein druckbares Zeichen enthalten</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of character set for names

A text or value must contain at least one printable character</xd:documentation>
				</xd:annotation>
				<xd:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Max70Text">
			<xd:restriction base="_:Max70Text">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Adressen

Ein Text oder Wert muß mindestens ein druckbares Zeichen enthalten</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of character set for addresses

A text or value must contain at least one printable character</xd:documentation>
				</xd:annotation>
				<xd:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<!-- complex types with simple content -->
		<!-- EPC driven -->
		<xd:complexType name="ActiveOrHistoricCurrencyAndAmount">
			<xd:simpleContent>
				<xd:restriction base="_:ActiveOrHistoricCurrencyAndAmount">
					<xd:annotation>
						<xd:documentation xml:lang="de">Begrenzung der Länge und Darstellung des Einzelbetrags</xd:documentation>
						<xd:documentation xml:lang="en">Limitation of length and representation of transaction amount</xd:documentation>
					</xd:annotation>
					<xd:minInclusive value="0.01"/>
					<xd:maxInclusive value="999999999.99"/>
					<xd:fractionDigits value="2"/>
					<xd:totalDigits value="11"/>
					<xd:attribute name="Ccy" type="_:ActiveOrHistoricCurrencyCode_TX" use="required"/>
				</xd:restriction>
			</xd:simpleContent>
		</xd:complexType>
		<!-- complex types with complex content -->
		<!-- EPC driven -->
		<xd:complexType name="AmountType3Choice">
			<xd:complexContent>
				<xd:restriction base="_:AmountType3Choice">
					<xd:sequence>
						<xd:choice>
							<xd:element name="InstdAmt" type="_:ActiveOrHistoricCurrencyAndAmount" id="AT-04">
								<xd:annotation>
									<xd:documentation xml:lang="de">Einzelbetrag.

Begrenzt auf maximal 999999999.99 und minimal 0.01.
Punkt als Dezimalzeichen.
Keine negativen Werte</xd:documentation>
									<xd:documentation xml:lang="en">Single amount.

Restricted to a maximum 999999999.99 and a minimum of 0.01.
Decimal sign is the dot.
No negative values</xd:documentation>
									<xd:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xd:documentation>
								</xd:annotation>
							</xd:element>
						</xd:choice>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CreditorReferenceInformation2">
			<xd:complexContent>
				<xd:restriction base="_:CreditorReferenceInformation2">
					<xd:sequence>
						<xd:element name="Tp" type="_:CreditorReferenceType2">
							<xd:annotation>
								<xd:documentation xml:lang="de">Typ und Herkunft der Referenz</xd:documentation>
								<xd:documentation xml:lang="en">Type and issuer of reference</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Ref" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Zahlungsreferenz, Empfängerreferenz</xd:documentation>
								<xd:documentation xml:lang="en">Creditor's reference, Recipient's reference</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CreditorReferenceType1Choice">
			<xd:complexContent>
				<xd:restriction base="_:CreditorReferenceType1Choice">
					<xd:sequence>
						<xd:choice>
							<xd:element name="Cd" type="_:DocumentType3Code">
								<xd:annotation>
									<xd:documentation xml:lang="de">Kodierter Referenztyp.

Einzig verfügbarer Wert ist SCOR</xd:documentation>
									<xd:documentation xml:lang="en">Coded reference type.

Only available value is SCOR</xd:documentation>
								</xd:annotation>
							</xd:element>
						</xd:choice>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CreditorReferenceType2">
			<xd:complexContent>
				<xd:restriction base="_:CreditorReferenceType2">
					<xd:sequence>
						<xd:element name="CdOrPrtry" type="_:CreditorReferenceType1Choice">
							<xd:annotation>
								<xd:documentation xml:lang="de">Typkode</xd:documentation>
								<xd:documentation xml:lang="en">Code type</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Issr" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenz vergebende Organisation</xd:documentation>
								<xd:documentation xml:lang="en">Reference assigning organisation</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CreditTransferTransactionInformation10">
			<xd:complexContent>
				<xd:restriction base="_:CreditTransferTransactionInformation10">
					<xd:sequence>
						<xd:element name="PmtId" type="_:PaymentIdentification1" xml:ToC="2;Auftraggeberreferenz">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Referenzen des Auftragggebers</xd:documentation>
								<xd:documentation xml:lang="en">Initiator's references</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PmtTpInf" type="_:PaymentTypeInformation19_Single" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Einzelverarbeitung.

Diese Struktur existiert ebenfalls auf Bestandsebene. EINE DIESER STRUKTUREN MUSS VERWENDET WERDEN! Gleichzeitige Nennung ist nicht erlaubt. DIE STRUKTUR AUF EINZELUMSATZEBENE VERHINDERT DIE ANWENDUNG VON SPEZIELLEN SERVICES ZWISCHEN AUFTRAGGEBER UND AUFTRAGGEBERBANK! DIESE KÖNNEN NUR BEI VERWENDUNG DER BESTANDSEBENE ANGEWENDET WERDEN! Siehe Servicelevel, LocalInstrument und CategoryPurpose.

Von der Verwendung dieses Elements wird dringend abgeraten</xd:documentation>
								<xd:documentation xml:lang="en">Single processing.

This structure is also available on batch level. ONE OF THESE STRUCTURES MUST BE POPULATED! Concurrent population is not permitted. THE POPULATION ON SINGLE TRANSACTION LEVEL INHIBITS SPECIAL SERVICES OFFERED BY INITIATORS BANK TO INITIATOR! THESE SERVICES CAN ONLY BE APPLIED WHEN POPULATION IS MADE ON BATCH LEVEL! See Servicelevel, LocalInstrument and CategoryPurpose.

Element is strongly discouraged</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Amt" type="_:AmountType3Choice" xml:ToC="2;Betrag">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Überweisungsbetrag</xd:documentation>
								<xd:documentation xml:lang="en">Transfer amount</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="ChrgBr" type="_:ChargeBearerType1Code" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Spesenoption.

Einzig verfügbarer Wert ist SLEV</xd:documentation>
								<xd:documentation xml:lang="en">Charge option.

Only available value is SLEV</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="UltmtDbtr" type="_:PartyIdentification32_UltmtDbtr" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Gleichzeitige Nennung auf Bestandsebene ist nicht erlaubt</xd:documentation>
								<xd:documentation xml:lang="en">Reference party of account owner / principal, i.e. habitually the actual deptor.

Concurrent quoting on batch level is not allowed</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CdtrAgt" type="_:BranchAndFinancialInstitutionIdentification4_Cdtr" minOccurs="0" xml:ToC="2;Empfängerbank">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Kontoführendes Institut des Kontoinhabers / Empfängers.

Nicht verwendet bei IBAN only</xd:documentation>
								<xd:documentation xml:lang="en">Financial institution servicing the account owner / recipient.

Not used with IBAN only</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Cdtr" type="_:PartyIdentification32_Cdtr" xml:ToC="2;Kontoinhaber">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Kontoinhaber / Empfänger</xd:documentation>
								<xd:documentation xml:lang="en">Account owner / recipient</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CdtrAcct" type="_:CashAccount16_Cdtr" xml:ToC="2;Empfängerkonto">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Kontonummer des Kontoinhabers / Empfängers</xd:documentation>
								<xd:documentation xml:lang="en">Account number of account owner / recipient</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="UltmtCdtr" type="_:PartyIdentification32_UltmtCrdt" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Bei Postbarzahlungen erforderlich</xd:documentation>
								<xd:documentation xml:lang="en">Reference party of account owner / recipient, i.e. habitually the actual creditor.

Mandatory with CashPerPostPayments</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Purp" type="_:Purpose2Choice" minOccurs="0" xml:ToC="2;Geschäftsvorfallkode">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Kodierter Zahlungsgrund.

Dieser Kode identifiziert einen Zahlungsgrund für den Zahlungsempfänger, kann aber auch speziellen Services bei den Banken dienen.
Bei Steuerzahlungen zwingend mit TAXS zu befüllen</xd:documentation>
								<xd:documentation xml:lang="en">Coded payment reason.

This code identifies a payment purpose or reason for the creditor, but may triggers special services of banks too.
For tax payments mandatorily to populate with TAXS</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="RmtInf" type="_:RemittanceInformation5" id="AT-05" minOccurs="0" xml:ToC="2;Empfängerreferenz oder Verwendungszweck">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Verwendungszweck / Empfängerreferenz</xd:documentation>
								<xd:documentation xml:lang="en">Remittance information / receipients reference</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CustomerCreditTransferInitiationV03">
			<xd:complexContent>
				<xd:restriction base="_:CustomerCreditTransferInitiationV03">
					<xd:sequence>
						<xd:element name="GrpHdr" type="_:GroupHeader32" xml:ToC="1;Nachrichtenkopf">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Nachrichtenkopf.

Grundlegende Informationen zur übermittelten Datei</xd:documentation>
								<xd:documentation xml:lang="en">Message header.

Basic information on transmitted file</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PmtInf" type="_:PaymentInstructionInformation3" maxOccurs="unbounded" xml:ToC="1;Bestände">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<!--  ***** maxOccurs="unbounded" unchanged due to performance issues ***** -->
								<xd:documentation xml:lang="de">Bestände.

Maximal 9.999 Bestände.
Größere Anzahl kann nicht verarbeitet werden und die gesamte Datei wird zurückgewiesen</xd:documentation>
								<xd:documentation xml:lang="en">Batches.

Restricted to 9.999 batches.
Larger count can not be processed and complete file will be rejected</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="DateAndPlaceOfBirth">
			<xd:complexContent>
				<xd:restriction base="_:DateAndPlaceOfBirth">
					<xd:sequence>
						<xd:element name="BirthDt" type="_:ISODate">
							<xd:annotation>
								<xd:documentation xml:lang="de">Tag der Geburt</xd:documentation>
								<xd:documentation xml:lang="en">Date of birth</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PrvcOfBirth" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Bundesland der Geburt</xd:documentation>
								<xd:documentation xml:lang="en">Province of birth</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CityOfBirth" type="_:Max35Text">
							<xd:annotation>
								<xd:documentation xml:lang="de">Stadt der Geburt</xd:documentation>
								<xd:documentation xml:lang="en">City of birth</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CtryOfBirth" type="_:CountryCode">
							<xd:annotation>
								<xd:documentation xml:lang="de">Land der Geburt</xd:documentation>
								<xd:documentation xml:lang="en">Country of birth</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="Document">
			<xd:complexContent>
				<xd:restriction base="_:Document">
					<xd:sequence>
						<xd:element name="CstmrCdtTrfInitn" type="_:CustomerCreditTransferInitiationV03" xml:ToC="1;Nachricht">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Überweisungsnachricht.

Diese Version definiert die Beschränkungen der ISO-Struktur basierend auf den ImplementationRecommendations des EPC für die Verwendung in Österreich</xd:documentation>
								<xd:documentation xml:lang="en">Credit tranfer message.

This version defines the restrictions of the ISO structure based on ImplementationRecommendations of EPC for use in Austria</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="GenericFinancialIdentification1">
			<xd:complexContent>
				<xd:restriction base="_:GenericFinancialIdentification1">
					<xd:sequence>
						<xd:element name="Id" type="_:Max35Text_IBANonly">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifikation (IBAN only).

Fixer Wert "NOTPROVIDED"</xd:documentation>
								<xd:documentation xml:lang="en">Identification (IBAN only).

Fixed value "NOTPROVIDED"</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="GroupHeader32">
			<xd:complexContent>
				<xd:restriction base="_:GroupHeader32">
					<xd:sequence>
						<xd:element name="MsgId" type="_:Max35Text_REF" xml:ToC="2;Nachrichtenreferenz">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Technische Referenz der Übermittlungsdatei.

Eindeutigkeit über mindestens 30 Tage ist herzustellen.
Beschränken Sie sich für einen sicheren Ablauf auf Buchstaben, Ziffern und Bindestrich.
Eindeutigkeit erreicht man zB einfach über die Kombination des Datums mit einem Tageszähler</xd:documentation>
								<xd:documentation xml:lang="en">Technical reference of transmitted file.

Ensure uniqueness for at least 30 days.
For save processing limit yourselves to digits, letters and minus sign.
Uniqueness is simple achievable eg with combining the date with a daily counter</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CreDtTm" type="_:ISODateTime" xml:ToC="2;Nachrichtenerstellung">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Dateierzeugungsdatum und -zeit.

Es ist nur das Format YYYY-MM-DDThh:mm:ss verfügbar.
Zeitpunkt in CET(CEST)-Zeit</xd:documentation>
								<xd:documentation xml:lang="en">File creation date and time.

Only format available is YYYY-MM-DDThh:mm:ss.
It is the CET(CEST) timestamp</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="NbOfTxs" type="_:Max15NumericText" xml:ToC="2;Nachrichtenumsätze">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Anzahl der Einzeltransaktionen der Datei.

Maximal 999.999 Transactionen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung</xd:documentation>
								<xd:documentation xml:lang="en">Count of single transactions of file.

Maximum 999.999 transactions.
More than 100.000 transactions need preliminary agreement</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CtrlSum" type="_:DecimalNumber" minOccurs="0" xml:ToC="2;Nachrichtensumme">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Summe der Einzeltransaktionen der Datei.

Ein Wert zwischen 0.01 und 999999999999.99.
Punkt als Dezimalzeichen.
Keine negativen Werte.

AB VERSION 2017 (VERSION 8) IST DIESES ELEMENT VERPFLICHTEND! DAVOR GILT:

Die Verwendung dieses Elements ist dringend angeraten.
Es wird fallweise zur Prüfung von Doppelanlieferungen verwendet</xd:documentation>
								<xd:documentation xml:lang="en">Sum of single transactions of file.

A value between 0.01 and 999999999999.99.
Decimal sign is the dot.
No negative values.

STARTING WITH VERSION 2017 (VERSION 8) THIS ELEMENT IS MANDATORY! VALID UNTIL THEN:

Element is strongly recommended.
It is occasionally used for proof of duplicate submission</xd:documentation>
								<xd:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="InitgPty" type="_:PartyIdentification32_InitgPty" xml:ToC="2;Nachrichtensender">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Identifizierung des Kommunikationsberechtigten.

Stimmen Sie Ihre Id mit dem empfangenden Finanzinstitut ab.
Üblicherweise die Hauptkontonummer</xd:documentation>
								<xd:documentation xml:lang="en">Identification of communication entitled party.

Agree your Id with receiving financial institution.
Habitualy the main account number</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="LocalInstrument2Choice">
			<xd:complexContent>
				<xd:restriction base="_:LocalInstrument2Choice">
					<xd:sequence>
						<xd:choice>
							<xd:element name="Cd" type="_:AT_ExternalLocalInstrument1Code">
								<xd:annotation>
									<xd:documentation xml:lang="de">Zahlungsinstrument.

Keine Verwendung definiert</xd:documentation>
									<xd:documentation xml:lang="en">Payment instrument.

No application defined</xd:documentation>
								</xd:annotation>
							</xd:element>
							<xd:element name="Prtry" type="_:Max35Text_REF">
								<xd:annotation>
									<xd:documentation xml:lang="de">Zahlungsinstrument.

Keine Verwendung definiert</xd:documentation>
									<xd:documentation xml:lang="en">Payment instrument.

No application defined</xd:documentation>
								</xd:annotation>
							</xd:element>
						</xd:choice>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="PaymentIdentification1">
			<xd:complexContent>
				<xd:restriction base="_:PaymentIdentification1">
					<xd:sequence>
						<xd:element name="InstrId" type="_:Max35Text_REF" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Überweisungsauftragsnummer.

Dieses Element ist nur aus Kompatitilitätsgründen möglich, damit keine Ablehnung aus technischen Gründen erfolgt.
Angabe wird ignoriert</xd:documentation>
								<xd:documentation xml:lang="en">Transactions instruction Id.

This element is only possible for compatibility reasons, to avoid rejects for technical reasons.
Information is ignored</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="EndToEndId" type="_:Max35Text_REF" id="AT-41">
							<xd:annotation>
								<xd:documentation xml:lang="de">Auftraggeberreferenz.

Bei Steuerzahlungen enthält dieses Element die 9-stellige Steuernummer (ergo inkl. FA-Nummer).
Bei Postbarzahlungen enthält dieses Element die Postbar-Referenz (bei Postbarzahlungen siehe auch CtgyPurp/Prtry, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd).
Kann im Kontoauszug zur eigenen Referenzierung zurückgegeben, daher ist Eindeutigkeit wichtig.
Falls dennoch keine Referenz angegeben werden soll, mit dem Wert NOTPROVIDED zu füllen</xd:documentation>
								<xd:documentation xml:lang="en">Initiator's reference.

On tax payments this element carries the 9 digit customers tax i (consequently incl. TA-number).
On CashPerPostPayments this element carries the CashPerPost reference (with CashPerPostPayments see also CtgyPurp/Prtry, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd).
May be returned in account statement for reconciliation, uniqueness therefore matters.
If still no specific reference shall be provided, to be populated with the value NOTPROVIDED</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="PaymentInstructionInformation3">
			<xd:complexContent>
				<xd:restriction base="_:PaymentInstructionInformation3">
					<xd:sequence>
						<xd:element name="PmtInfId" type="_:Max35Text_REF" xml:ToC="2;Bestandsreferenz">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Bestandskontrollnummer.

Eindeutigkeit über mindestens 1 Jahr ist herzustellen.
Kann im Kontoauszug zur Referenzierung zurückgegeben werden.
Beachten Sie die ggf. vorhandenen Beschränkungen im Format des Kontoauszugs (z.B. MT-Nachrichten können nur 16 Zeichen transportieren), dann ist Eindeutigkeit innerhalb der Beschränkung zu realisieren.
Das Element wird fallweise zur Prüfung von Doppelanlieferungen verwendet.
Eindeutigkeit erreicht man z.B. einfach über die Kombination des Datums mit einem Tageszähler</xd:documentation>
								<xd:documentation xml:lang="en">Batch control number.

Ensure uniqueness for at least 1 year.
Can be returned in account statement.
Observe the possible limits of account statement format (e.g. MT messages support only 16 character), with this uniqueness needs to be archived within these limits.
Element is occasionally used for proof of duplicate submission.
Uniqueness is simple achievable e.g. with combining the date with a daily counter</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PmtMtd" type="_:PaymentMethod3Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Zahlungsmethode.

Einzig verfügbarer Wert ist TRF</xd:documentation>
								<xd:documentation xml:lang="en">Payment method.

Only available value is TRF</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="BtchBookg" type="_:BatchBookingIndicator" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Sammel- oder Einzelbuchung.

Berücksichtigung in Absprache mit dem beauftragten Kreditinstitut.
Überschreibt dann die am Konto hinterlegte Standard-Buchungsmethode.
"true" heißt Bestandsbuchung gewünscht.
"false" heißt Einzelbuchung gewünscht</xd:documentation>
								<xd:documentation xml:lang="en">Batch or single booking.

Consideration according to agreement with the instructed financial institution.
Then overwrites standard booking method saved at account.
"true" means batch booking requested.
"false" means single booking requested</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="NbOfTxs" type="_:Max15NumericText" minOccurs="0" xml:ToC="2;Bestandsumsätze">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Anzahl der Einzeltransaktionen des Bestands.

Maximal 999.999 Transactionen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung

AB VERSION 2017 (VERSION 8) IST DIESES ELEMENT VERPFLICHTEND! DAVOR GILT:

Die Verwendung dieses Elements ist dringend angeraten.
Es wird fallweise zur Prüfung von Doppelanlieferungen verwendet</xd:documentation>
								<xd:documentation xml:lang="en">Count of single transactions of batch.

Maximum 999.999 transactions.
More than 100.000 transactions need preliminary agreement.

STARTING WITH VERSION 2017 (VERSION 8) THIS ELEMENT IS MANDATORY! VALID UNTIL THEN:

Element is strongly recommended.
It is occasionally used for proof of duplicate submission</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CtrlSum" type="_:DecimalNumber" minOccurs="0" xml:ToC="2;Bestandssumme">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Summe der Einzeltransaktionen des Bestands.

Ein Wert zwischen 0.01 und 999999999999.99. Punkt als Dezimalzeichen.
Keine negativen Werte.

AB VERSION 2017 (VERSION 8) IST DIESES ELEMENT VERPFLICHTEND! DAVOR GILT:

Die Verwendung dieses Elements ist dringend angeraten.
Es wird fallweise zur Prüfung von Doppelanlieferungen verwendet</xd:documentation>
								<xd:documentation xml:lang="en">Sum of single transactions of batch.

A value between 0.01 and 999999999999.99. Decimal sign is the dot. No negative values.

STARTING WITH VERSION 2017 (VERSION 8) THIS ELEMENT IS MANDATORY! VALID UNTIL THEN:

Element is strongly recommended.
It is occasionally used for proof of duplicate submission</xd:documentation>
								<xd:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PmtTpInf" type="_:PaymentTypeInformation19_Batch" minOccurs="0" xml:ToC="2;Bestandsverarbeitung">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Bestandsverarbeitung.

Diese Struktur existiert ebenfalls auf Einzelumsatzebene. EINE DIESER STRUKTUREN MUSS VERWENDET WERDEN! Gleichzeitige Nennung ist nicht erlaubt. DIE STRUKTUR AUF EINZELUMSATZEBENE VERHINDERT DIE ANWENDUNG VON SPEZIELLEN SERVICES ZWISCHEN AUFTRAGGEBER UND AUFTRAGGEBERBANK! DIESE KÖNNEN NUR BEI VERWENDUNG DIESER EBENE ANGEWENDET WERDEN! Siehe Servicelevel, LocalInstrument und CategoryPurpose.

Die Verwendung dieses Elements ist dringend angeraten.

Notwendig bei Postbarzahlungen (CategoryPurpose/Proprietary) und Eilzahlungen (ServiceLevel/Code)</xd:documentation>
								<xd:documentation xml:lang="en">Batch processing.

This structure is also available on single transaction level. ONE OF THESE STRUCTURES MUST BE POPULATED! Concurrent population is not permitted. THE POPULATION ON SINGLE TRANSACTION LEVEL INHIBITS SPECIAL SERVICES OFFERED BY INITIATORS BANK TO INITIATOR! THESE SERVICES CAN ONLY BE APPLIED WHEN POPULATION IS MADE ON THIS LEVEL! See Servicelevel, LocalInstrument and CategoryPurpose.

Element is strongly recommended.

Mandatory with CashPerPost (CategoryPurpose/Proprietary) and urgend (ServiceLevel/Code) payments</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="ReqdExctnDt" type="_:ISODate" xml:ToC="2;Bestandsdurchführung">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Gewünschter Durchführungstag.

Es ist nur das Format YYYY-MM-DD verfügbar.
Kann dieser z.B. durch Spätlieferung nicht eingehalten werden, kann ggf. eine Weiterrollung gemäß voheriger Vereinbarung erfolgen</xd:documentation>
								<xd:documentation xml:lang="en">Requested execution date.

Only format available is YYYY-MM-DD
If this cannot be respected, e.g. on late delivery, payment may be executed later according preliminary agreement</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Dbtr" type="_:PartyIdentification32_Dbtr" xml:ToC="2;Kontoinhaber">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Kontoinhaber / Auftraggeber</xd:documentation>
								<xd:documentation xml:lang="en">Account owner / principal</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="DbtrAcct" type="_:CashAccount16_Dbtr" xml:ToC="2;Auftraggeberkonto">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Kontonummer des Kontoinhabers / Auftraggebers</xd:documentation>
								<xd:documentation xml:lang="en">Account number of account owner / principal</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="DbtrAgt" type="_:BranchAndFinancialInstitutionIdentification4_Dbtr" xml:ToC="2;Auftraggeberbank">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<xd:documentation xml:lang="de">Kontoführendes Institut des Kontoinhabers / Auftraggebers</xd:documentation>
								<xd:documentation xml:lang="en">Financial institution servicing the account owner / principal</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="UltmtDbtr" type="_:PartyIdentification32_UltmtDbtr" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Gleichzeitige Nennung auf Einzelebene ist nicht erlaubt</xd:documentation>
								<xd:documentation xml:lang="en">Reference party of account owner / principal, i.e. habitually the actual deptor.

Concurrent quoting on transaction level is not allowed</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="ChrgBr" type="_:ChargeBearerType1Code" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Spesenoption.

Einzig verfügbarer Wert ist SLEV</xd:documentation>
								<xd:documentation xml:lang="en">Charge option.

Only available value is SLEV</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CdtTrfTxInf" type="_:CreditTransferTransactionInformation10" maxOccurs="unbounded" xml:ToC="1;Einzelumsätze">
							<xd:annotation>
								<!--  ***** xml:ToC used by style sheet that generats documentation ***** -->
								<!--  ***** maxOccurs="unbounded" unchanged due to performance issues ***** -->
								<xd:documentation xml:lang="de">Einzelumsätze.

Maximal 999.999 Umsätze je Bestand.
Größere Anzahl kann nicht verarbeitet werden und die gesamte Datei wird zurückgewiesen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung</xd:documentation>
								<xd:documentation xml:lang="en">Single transactions.

Restricted to 999.999 transactions per batch.
Larger count can not be processed and complete file will be rejected.
More than 100.000 transactions need preliminary agreement</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="PostalAddress6">
			<xd:complexContent>
				<xd:restriction base="_:PostalAddress6">
					<xd:sequence>
						<xd:element name="Ctry" type="_:CountryCode" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Land</xd:documentation>
								<xd:documentation xml:lang="en">Country</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="AdrLine" type="_:Max70Text" maxOccurs="2">
							<xd:annotation>
								<xd:documentation xml:lang="de">Adressezeile</xd:documentation>
								<xd:documentation xml:lang="en">Address line</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="Purpose2Choice">
			<xd:complexContent>
				<xd:restriction base="_:Purpose2Choice">
					<xd:sequence>
						<xd:choice>
							<xd:element name="Cd" type="_:AT_ExternalPurpose1Code" id="AT-44">
								<xd:annotation>
									<xd:documentation xml:lang="de">Geschäftsfallkode.

Siehe auch CtgyPurp.
Abhängig vom Kode in CtgyPurp hat dieser Kode bestimmte Bedeutung im empfangenden Institut:
Mit SALA
GVEA: Bezüge Arbeitslose
GVEB: Bezüge allgemein
GVEC: Bezüge Landesinvaliden
GVED: Bezüge Landesverteidigung
GOVT: Bezüge Post
RLWY: Bezüge OeBB
Mit PENS
RLWY: Pensionen OeBB
Mit GOVT
ANNI: Annuitätenzuschüsse
Besonderheiten:
TRFD: Mündelkonten (RAK-Zahlungen)
TAXS: Steuerzahlung
Sonstige siehe Liste auf iso20022.org</xd:documentation>
									<xd:documentation xml:lang="en">Business codes.

See also CtgyPurp.
Depending on code in CtgyPurp this code has specific meaning at receiving institut:
With SALA
GVEA: Emoluments unemployed persons
GVEB: Emoluments general
GVEC: Emoluments disabled persons
GVED: Emoluments national defence
GOVT: Emoluments Austrian Mail
RLWY: Emoluments OeBB
With PENS
RLWY: Pensions OeBB
With GOVT
ANNI: Annuity grant
Specialities:
TRFD: Trusted fund payments (RAK-Payments)
TAXS: Tax payment
Others see list at iso20022.org</xd:documentation>
								</xd:annotation>
							</xd:element>
						</xd:choice>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="RemittanceInformation5">
			<xd:complexContent>
				<xd:restriction base="_:RemittanceInformation5">
					<xd:sequence>
						<xd:annotation>
							<xd:documentation xml:lang="de">NUR EIN FOLGE-ELEMENT

Obwohl die originale Struktur die gleichzeitige Anlieferung beider Folgeelemente erlaubt, folgt hier nur ein Element.
Auswahl, ob der Verwendungszweck mittels einer Textzeile oder einer Datenstruktur übermittelt wird</xd:documentation>
							<xd:documentation xml:lang="en">ONLY ONE SUBSEQUENT ELEMENT

Although the original structure allowes the concurrent occurance of both subsequent elements, only one element.
Choose whether remittance information is made by a text line or by a data structure</xd:documentation>
						</xd:annotation>
						<xd:element name="Ustrd" type="_:Max140Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verwendungszweck Textzeile.
							
Eine Zeile mit maximal 140 Zeichen.
Verpflichtend bei Postbarzahlungen.
Bei Steuerzahlungen ist mit dem Bundesrechenzentrum ein spezieller Aufbau vereinbart.
Bei Postbarzahlungen ist ein spezieller Aufbau vereinbart</xd:documentation>
								<xd:documentation xml:lang="en">Remittance information text line.

One line with maximum 140 characters.
Mandatory with CashPerPostPayments.
On tax payments observe the structure agreed with Bundesrechenzentrum.
On CashPerPostPayments observe specific structure</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Strd" type="_:StructuredRemittanceInformation7" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verwendungszweck strukturiert: Zahlungsreferenz, Empfängerreferenz.

Alle Daten INKLUSIVE der notwendigen XML-Tags müssen in 140 Zeichen Platz finden.
Nicht verfügbar bei Steuer- und Postbar-Zahlungen</xd:documentation>
								<xd:documentation xml:lang="en">Remittance information data structure: Creditor's reference, Recipient's reference.

All data INCLUDING the necessary XML tags must fit into 140 character.
Not available with Tax and CashPerPost payments</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="ServiceLevel8Choice">
			<xd:complexContent>
				<xd:restriction base="_:ServiceLevel8Choice">
					<xd:sequence>
						<xd:choice>
							<xd:element name="Cd" type="_:AT_ExternalServiceLevel1Code" id="AT-40">
								<xd:annotation>
									<xd:documentation xml:lang="de">Service Spezifikation.

Der Standardwert ist SEPA.
Die Verwendung von SDVA zur Erteilung von Eilzahlungen wird nicht grundsätzlich unterstützt und bedarf vorheriger Vereinbarung.
Eilzahlungen unterliegen nicht den Standards der EU-Verordnung (Annahme- und Verarbeitungspflichten, Preisgleichstellung etc.)</xd:documentation>
									<xd:documentation xml:lang="en">Service specification.

The standard value is SEPA.
The usage of SDVA for qualification of urgend payments is not general supported and requires preliminary agreement.
Urgend payments are not governed by EU-Regulation (acceptance and processing duties, charges and fees etc.)</xd:documentation>
								</xd:annotation>
							</xd:element>
						</xd:choice>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="StructuredRemittanceInformation7">
			<xd:complexContent>
				<xd:restriction base="_:StructuredRemittanceInformation7">
					<xd:sequence>
						<xd:element name="CdtrRefInf" type="_:CreditorReferenceInformation2">
							<xd:annotation>
								<xd:documentation xml:lang="de">Zahlungsreferenz, Empfängerreferenz</xd:documentation>
								<xd:documentation xml:lang="en">Creditor's reference, Recipient's reference</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<!-- EPC driven with AT specific content -->
		<xd:complexType name="CategoryPurpose1Choice">
			<xd:complexContent>
				<xd:restriction base="_:CategoryPurpose1Choice">
					<xd:sequence>
						<xd:choice>
							<xd:element name="Cd" type="_:AT_ExternalCategoryPurpose1Code">
								<xd:annotation>
									<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Siehe externe Kodeliste</xd:documentation>
									<xd:documentation xml:lang="en">Processing.

Specific code for processing indentification at receiving institution.
See external code list</xd:documentation>
								</xd:annotation>
							</xd:element>
							<xd:element name="Prtry" type="_:AT_ExternalProprietaryCategoryPurpose1Code">
								<xd:annotation>
									<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
CPPP Postbarzahlungen (siehe auch PmtId/EndToEndId, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd unterhalb CdtTrfTxInf).
Siehe externe Kodeliste</xd:documentation>
									<xd:documentation xml:lang="en">Processing.

Specific code for processing indentification at receiving institution.
CPPP Cash per Post Payment (see also PmtId/EndToEndId, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr and RmtInf/Ustrd under CdtTrfTxInf).
See external code list</xd:documentation>
								</xd:annotation>
							</xd:element>
						</xd:choice>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
	</xd:redefine>
	<!-- Attributes  -->
	<xd:attribute name="implementationguidelines" fixed="SCT's 7.0, 8.0, 2017-V1">
		<xd:annotation>
			<xd:documentation xml:lang="de">Berücksichtigte Rulebook Versionen</xd:documentation>
			<xd:documentation xml:lang="en">Respected rulebook versions</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="lastEdit" fixed="2017-07-21">
		<xd:annotation>
			<xd:documentation xml:lang="de">Datum der letzten Veränderung</xd:documentation>
			<xd:documentation xml:lang="en">Date of last change</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="namespace" fixed="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03">
		<xd:annotation>
			<xd:documentation xml:lang="de">Namespace-Name in der XML-Instanz der Datenübertragung</xd:documentation>
			<xd:documentation xml:lang="en">Namespace name of instance on data transmission</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="replaceLastEdit" fixed="2016-11-23">
		<xd:annotation>
			<xd:documentation xml:lang="de">Ersetztes Versionsdatum</xd:documentation>
			<xd:documentation xml:lang="en">Replaced version date</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="replaceVersion" fixed="006">
		<xd:annotation>
			<xd:documentation xml:lang="de">Ersetzte Version</xd:documentation>
			<xd:documentation xml:lang="en">Replaced version</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="rulebooks" fixed="SCT's 7.0, 7.1, 7.2, 8.0, 8.1, 8.2, 8.3, 2017-V1">
		<xd:annotation>
			<xd:documentation xml:lang="de">Berücksichtigte Rulebook Versionen</xd:documentation>
			<xd:documentation xml:lang="en">Respected rulebook versions</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="validityEnd" fixed="with validity start of version 008">
		<xd:annotation>
			<xd:documentation xml:lang="de">Ende der Gültigkeit</xd:documentation>
			<xd:documentation xml:lang="en">End of validity</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="validityStart" fixed="2017-11-01">
		<xd:annotation>
			<xd:documentation xml:lang="de">Beginn der Gültigkeit</xd:documentation>
			<xd:documentation xml:lang="en">Start of validity</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="version" fixed="006">
		<xd:annotation>
			<xd:documentation xml:lang="de">Version dieses Schemas</xd:documentation>
			<xd:documentation xml:lang="en">Schema version</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<!-- derived types -->
	<!-- simple types -->
	<!-- EPC driven -->
	<xd:simpleType name="ActiveOrHistoricCurrencyCode_TX">
		<xd:restriction base="_:ActiveOrHistoricCurrencyCode">
			<xd:enumeration value="EUR">
				<xd:annotation>
					<xd:documentation xml:lang="de">SEPA kann nur EUR transferieren</xd:documentation>
					<xd:documentation xml:lang="en">SEPA just enables EUR transfers</xd:documentation>
				</xd:annotation>
			</xd:enumeration>
		</xd:restriction>
	</xd:simpleType>
	<!-- EPC driven with AT specific content -->
	<xd:simpleType name="Max140Text_Nm">
		<xd:restriction base="_:Max140Text">
			<xd:annotation>
				<xd:documentation xml:lang="de">Begrenzung der Länge der Namenselemente</xd:documentation>
				<xd:documentation xml:lang="en">Limitation of length of name elements</xd:documentation>
			</xd:annotation>
			<xd:maxLength value="70"/>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="Max35Text_IBANonly">
		<xd:restriction base="_:Max35Text">
			<xd:enumeration value="NOTPROVIDED">
				<xd:annotation>
					<xd:documentation xml:lang="de">Festgelegter Wert für IBAN-only Beauftragungen</xd:documentation>
					<xd:documentation xml:lang="en">Fixed value for IBAN only initiations</xd:documentation>
				</xd:annotation>
			</xd:enumeration>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="Max35Text_REF">
		<xd:restriction base="_:Max35Text">
			<xd:annotation>
				<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Kodes, Referenzen und Identifikatoren

Erlaubte Struktur für Kodes, Referenzen und Identifikatoren nach EPC217-08 Best Practices SEPA Requirements for Character Set SSG.pdf
Ein Text oder Wert muß mindestens ein druckbares Zeichen enthalten, jedoch
startet nicht mit /
endet nicht mit /
enthält kein //</xd:documentation>
				<xd:documentation xml:lang="en">Limitation of character set for codes, references and identifications

Allowed structure for codes, references and identifications according EPC217-08 Best Practices SEPA Requirements for Character Set SSG.pdf
A text or value must contain at least one printable character, but
don't start with /
don't end with /
don't contain //</xd:documentation>
			</xd:annotation>
			<xd:pattern value="((([\-A-Za-z0-9+?:().,' ]+/)+[\-A-Za-z0-9+?:().,' ]+)|(( *[\-A-Za-z0-9+?:().,'])+ *))">
				<xd:annotation>
					<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
				</xd:annotation>
			</xd:pattern>
		</xd:restriction>
	</xd:simpleType>
	<!-- complex types with complex content -->
	<!-- EPC driven -->
	<xd:complexType name="AccountIdentification4Choice_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:AccountIdentification4Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="IBAN" type="_:IBAN2007Identifier" id="AT-20">
							<xd:annotation>
								<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum.

Bei Postbarzahlungen ist dies "AT846000000011471508"</xd:documentation>
								<xd:documentation xml:lang="en">IBAN of an account in SEPA area.

With CashPerPostPayment this is "AT846000000011471508"</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="BranchAndFinancialInstitutionIdentification4_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:BranchAndFinancialInstitutionIdentification4">
				<xd:sequence>
					<xd:element name="FinInstnId" type="_:FinancialInstitutionIdentification7_Cdtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC einer Bank im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">BIC of a bank in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CashAccount16_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:CashAccount16">
				<xd:sequence>
					<xd:element name="Id" type="_:AccountIdentification4Choice_Cdtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="FinancialInstitutionIdentification7_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:FinancialInstitutionIdentification7">
				<xd:sequence>
					<xd:element name="BIC" type="_:BICIdentifier" id="AT-23">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC einer Bank im SEPA-Raum.

Wenn die IBAN only Option nicht genutzt wird, dann ist dies bei Postbarzahlungen der Wert "BAWAATWW"</xd:documentation>
							<xd:documentation xml:lang="en">BIC of a bank in SEPA area

If the IBAN only option is not used, then on CashPerPostPayments populate with "BAWAATWW"</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification32_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification32">
				<xd:sequence>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-21">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Kontoinhabers / Empfängers.

Auf 70 Zeichen begrenzt.
Bei Postbarzahlungen ist dies "BAWAGPSK"</xd:documentation>
							<xd:documentation xml:lang="en">Name of account owner / credited principal.

Limited to 70 characters.
With CashPerPostPayments this is "BAWAGPSK"</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="PstlAdr" type="_:PostalAddress6" id="AT-22" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Adresse des Kontoinhabers / Empfängers.

Die Adresse gilt als nicht geschrieben</xd:documentation>
							<xd:documentation xml:lang="en">Address of account owner / credited principal.

This address is treated as not given</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party6Choice_Gen" id="AT-24" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation des Kontoinhabers / Empfängers.

Bei Postbarzahlungen nicht verwendet</xd:documentation>
							<xd:documentation xml:lang="en">Identification of account owner / credited principal.

Not used with CashPerPostPayments</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="AccountIdentification4Choice_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:AccountIdentification4Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="IBAN" type="_:IBAN2007Identifier" id="AT-01">
							<xd:annotation>
								<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum.</xd:documentation>
								<xd:documentation xml:lang="en">IBAN of an account in SEPA area.</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="BranchAndFinancialInstitutionIdentification4_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:BranchAndFinancialInstitutionIdentification4">
				<xd:sequence>
					<xd:element name="FinInstnId" type="_:FinancialInstitutionIdentification7_Dbtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation einer Bank im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">Identification of a bank in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CashAccount16_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:CashAccount16">
				<xd:sequence>
					<xd:element name="Id" type="_:AccountIdentification4Choice_Dbtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Ccy" type="_:ActiveOrHistoricCurrencyCode" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kontowährung des belasteten Kontos.

Nur notwending bei Mehrwährungskonto</xd:documentation>
							<xd:documentation xml:lang="en">Account currency of debited account.

Only necessary with multi currency account</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="FinancialInstitutionIdentification7_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:FinancialInstitutionIdentification7">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">NUR EIN FOLGE-ELEMENT

Obwohl die originale Struktur die gleichzeitige Anlieferung beider Folgeelemente erlaubt, folgt hier nur ein Element.
Auswahl, ob die Bank mit BIC oder einer anderen Id (IBAN only) identifiziert wird</xd:documentation>
						<xd:documentation xml:lang="en">ONLY ONE SUBSEQUENT ELEMENT

Although the original structure allowes the concurrent occurance of both subsequent elements, only one element.
Choose whether identification is made by BIC or another Id (IBAN only)</xd:documentation>
					</xd:annotation>
					<xd:element name="BIC" type="_:BICIdentifier" id="AT-06" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC der beauftragten Bank</xd:documentation>
							<xd:documentation xml:lang="en">BIC of the instructed bank</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericFinancialIdentification1" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation (IBAN only)</xd:documentation>
							<xd:documentation xml:lang="en">Other identification (IBAN only)</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification32_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification32">
				<xd:sequence>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-02">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Kontoinhabers / Auftraggeber.

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name of account owner / debted principal.

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="PstlAdr" type="_:PostalAddress6" id="AT-03" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Adresse des Kontoinhabers / Auftraggeber.

Diese Adresse gilt als nicht geschrieben.
Bei Weitergabe ex AT wird die Adresse fallweise aus den Stammdaten eingestellt</xd:documentation>
							<xd:documentation xml:lang="en">Address of account owner / debted principal.

This address is treated as not given.
When forwarding ex AT the address is occasionally taken from instituts database</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party6Choice_Dbtr" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identification des Kontoinhabers / Auftraggeber</xd:documentation>
							<xd:documentation xml:lang="en">Identification of account owner / debted principal</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification32_UltmtCrdt">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification32">
				<xd:sequence>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-28" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name / Bezeichnung der Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Auf 70 Zeichen begrenzt.
Bei Postbarzahlungen erforderlicher Name des Empfängers</xd:documentation>
							<xd:documentation xml:lang="en">Name / Designation of reference party of account owner / principal, i.e. habitually the actual creditor.

Limited to 70 characters.
Mandatory name of beneficiary with CashPerPostPayments</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party6Choice_Gen" id="AT-29" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Bei Postbarzahlungen nicht zulässig</xd:documentation>
							<xd:documentation xml:lang="en">Identification of reference party of account owner / principal, i.e. habitually the actual creditor.

Not available with CashPerPostPayments</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification32_UltmtDbtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification32">
				<xd:sequence>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-08" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name / Bezeichnung der Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name / Designation of reference party of account owner / principal, i.e. habitually the actual debtor.

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party6Choice_Gen" id="AT-09" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner</xd:documentation>
							<xd:documentation xml:lang="en">Identification of reference party of account owner / principal, i.e. habitually the actual deptor</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PaymentTypeInformation19_Single">
		<xd:complexContent>
			<xd:restriction base="_:PaymentTypeInformation19">
				<xd:sequence>
					<xd:element name="SvcLvl" type="_:ServiceLevel8Choice_Single" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LclInstrm" type="_:LocalInstrument2Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="CtgyPurp" type="_:CategoryPurpose1Choice_Single" id="AT-45-Single" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PaymentTypeInformation19_Batch">
		<xd:complexContent>
			<xd:restriction base="_:PaymentTypeInformation19">
				<xd:sequence>
					<xd:element name="InstrPrty" type="_:Priority2Code" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Bevorzugte Zahlungen.

Keine Verwendung definiert</xd:documentation>
							<xd:documentation xml:lang="en">Prioritised payments.

No application defined</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SvcLvl" type="_:ServiceLevel8Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Service Spezifikation.

Wird dieses Element nicht angegeben, wird der Standardwert SEPA angenommen.</xd:documentation>
							<xd:documentation xml:lang="en">Service specification.

If this element is not quoted, the standard value SEPA is assumed.</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LclInstrm" type="_:LocalInstrument2Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Zahlungsinstrument.

Keine Verwendung definiert</xd:documentation>
							<xd:documentation xml:lang="en">Payment instrument.

No application defined</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="CtgyPurp" type="_:CategoryPurpose1Choice" id="AT-45-Batch" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Notwendig bei Postbarzahlungen
Siehe auch Purp auf Einzelebene
Vor der Verwendung ist mit dem empfangenden Institut eine Vereinbarung zu treffen, anderenfalls wird dies ignoriert.

Beispiele:
SALA: Gehaltszahlungen
PENS: Pensionszahlungen
LOAN: Konsortialverrechnungen
SSBE: Sozialversicherungszahlungen
GOVT: Annuitätenzuschüsse
INTC: Intra Company/Cash pooling
TAXS: > siehe Purp und PmtId/EndToEndId ! (Steuerzahlungen)
CPPP: Postbarzahlungen</xd:documentation>
							<xd:documentation xml:lang="en">Processing.

Specific code for processing indentification at receiving institution.
Mandatory with CashPerPost payments
See also Purp at single transaction
Before use an agreement with receiving institution is necessary, othwise this is ignored.

Examples:
SALA: Salary payment
PENS: Pension payment
LOAN: Consortium loan
SSBE: Social security
GOVT: Annuity grant
INTC: Intra Company/Cash pooling
TAXS: > see Purp and PmtId/EndToEndId ! (Tax payments)
CPPP: Cash Per Post Payment</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericOrganisationIdentification1_Gen">
		<xd:complexContent>
			<xd:restriction base="_:GenericOrganisationIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SchmeNm" type="_:OrganisationIdentificationSchemeName1Choice_Gen" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Typ der Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Type of identification</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Issr" type="_:Max35Text" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation vergebende Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification assigning organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericPersonIdentification1_Gen">
		<xd:complexContent>
			<xd:restriction base="_:GenericPersonIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Person</xd:documentation>
							<xd:documentation xml:lang="en">Identification of person</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SchmeNm" type="_:PersonIdentificationSchemeName1Choice_Gen" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Typ der Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Type of identification</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Issr" type="_:Max35Text" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation vergebende Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification assigning organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentification4_Gen">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentification4">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">NUR EIN FOLGE-ELEMENT

Obwohl die originale Struktur die gleichzeitige Anlieferung beider Folgeelemente erlaubt, folgt hier nur ein Element.
Auswahl, ob die Organisation mit BICOrBEI oder einer anderen Id identifiziert wird</xd:documentation>
						<xd:documentation xml:lang="en">ONLY ONE SUBSEQUENT ELEMENT

Although the original structure allowes the concurrent occurance of both subsequent elements, only one element.
Choose whether identification is made by BICOrBEI or another Id</xd:documentation>
					</xd:annotation>
					<xd:element name="BICOrBEI" type="_:AnyBICIdentifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC oder BEI</xd:documentation>
							<xd:documentation xml:lang="en">BIC or BEI</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericOrganisationIdentification1_Gen" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentificationSchemeName1Choice_Gen">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentificationSchemeName1Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="Cd" type="_:AT_ExternalOrganisationIdentification1Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierte Identifikation.

Kode aus Kodeliste</xd:documentation>
								<xd:documentation xml:lang="en">Coded identification.

Code from code list</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Prtry" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierte Identifikation.

Proprietärer Kode</xd:documentation>
								<xd:documentation xml:lang="en">Coded identification.

Proprietary code</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="Party6Choice_Gen">
		<xd:complexContent>
			<xd:restriction base="_:Party6Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="OrgId" type="_:OrganisationIdentification4_Gen">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
								<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PrvtId" type="_:PersonIdentification5_Gen">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifikation der Person</xd:documentation>
								<xd:documentation xml:lang="en">Identification of person</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PersonIdentification5_Gen">
		<xd:complexContent>
			<xd:restriction base="_:PersonIdentification5">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">NUR EIN FOLGE-ELEMENT

Obwohl die originale Struktur die gleichzeitige Anlieferung beider Folgeelemente erlaubt, folgt hier nur ein Element.
Auswahl, ob die Person mittels Geburtsdaten oder einer Id identifiziert wird</xd:documentation>
						<xd:documentation xml:lang="en">ONLY ONE SUBSEQUENT ELEMENT

Although the original structure allowes the concurrent occurance of both subsequent elements, only one element.
Choose whether identification is made by data of birth or Id</xd:documentation>
					</xd:annotation>
					<xd:element name="DtAndPlcOfBirth" type="_:DateAndPlaceOfBirth" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Datum und Ort der Geburt</xd:documentation>
							<xd:documentation xml:lang="en">Date and place of birth</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericPersonIdentification1_Gen" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PersonIdentificationSchemeName1Choice_Gen">
		<xd:complexContent>
			<xd:restriction base="_:PersonIdentificationSchemeName1Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="Cd" type="_:ExternalPersonIdentification1Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierte Identifikation.

Kode aus Kodeliste</xd:documentation>
								<xd:documentation xml:lang="en">Coded identification.

Code from code list</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Prtry" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierte Identifikation.

Proprietärer Kode</xd:documentation>
								<xd:documentation xml:lang="en">Coded identification.

Proprietary code</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<!-- AT specific -->
	<xd:complexType name="ServiceLevel8Choice_Single">
		<xd:complexContent>
			<xd:restriction base="_:ServiceLevel8Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="Cd" type="_:AT_ExternalServiceLevel1Code_Single" id="AT-40s">
							<xd:annotation>
								<xd:documentation xml:lang="de">Service Spezifikation</xd:documentation>
								<xd:documentation xml:lang="en">Service specification</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CategoryPurpose1Choice_Single">
		<xd:complexContent>
			<xd:restriction base="_:CategoryPurpose1Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="Cd" type="_:AT_ExternalCategoryPurpose1Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Siehe externe Kodeliste</xd:documentation>
								<xd:documentation xml:lang="en">Processing.

Specific code for processing indentification at receiving institution.
See external code list</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Prtry" type="_:AT_ExternalProprietaryCategoryPurpose1Code_Single">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
CPPP Postbarzahlungen MÜSSEN AUF BESTANDSEBENE KLASSIFIZIERT WERDEN!
Siehe externe Kodeliste</xd:documentation>
								<xd:documentation xml:lang="en">Processing.

Specific code for processing indentification at receiving institution.
CPPP Cash per Post Payment NEED TO BE CLASSIFIED ON BATCH LEVEL!
See external code list</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="Party6Choice_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:Party6Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="OrgId" type="_:OrganisationIdentification4_Gen" id="AT-10">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
								<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericOrganisationIdentification1_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:GenericOrganisationIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Von der Bank vergebene Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Identification assigned by bank</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SchmeNm" type="_:OrganisationIdentificationSchemeName1Choice_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Typ der Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Type of identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentification4_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentification4">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">NUR EIN FOLGE-ELEMENT

Obwohl die originale Struktur die gleichzeitige Anlieferung beider Folgeelemente erlaubt, folgt hier nur ein Element.
Auswahl, ob sich der Übermittler mit BICOrBEI oder einer erhaltenen Bank-Id identifiziert</xd:documentation>
						<xd:documentation xml:lang="en">ONLY ONE SUBSEQUENT ELEMENT

Although the original structure allowes the concurrent occurance of both subsequent elements, only one element.
Choose whether identification is made by BICOrBEI or assigned bank Id</xd:documentation>
					</xd:annotation>
					<xd:element name="BICOrBEI" type="_:AnyBICIdentifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC oder BEI</xd:documentation>
							<xd:documentation xml:lang="en">BIC or BEI</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericOrganisationIdentification1_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentificationSchemeName1Choice_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentificationSchemeName1Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="Cd" type="_:AT_ExternalOrganisationIdentification1Code_InitgPty">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierte Identifikation.

Einzig verfügbarer Wert ist BANK</xd:documentation>
								<xd:documentation xml:lang="en">Coded identification.

Only available value is BANK</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="Party6Choice_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:Party6Choice">
				<xd:sequence>
					<xd:choice>
						<xd:element name="OrgId" type="_:OrganisationIdentification4_InitgPty">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
								<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification32_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification32">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">NUR EIN FOLGE-ELEMENT

Obwohl die originale Struktur die gleichzeitige Anlieferung beider Folgeelemente erlaubt, folgt hier nur ein Element.
Auswahl, ob sich der Übermittler mit Namen oder Id identifiziert</xd:documentation>
						<xd:documentation xml:lang="en">ONLY ONE SUBSEQUENT ELEMENT

Although the original structure allowes the concurrent occurance of both subsequent elements, only one element.
Choose whether identification is made by name or Id</xd:documentation>
					</xd:annotation>
					<xd:element name="Nm" type="_:Max140Text_Nm" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Senders

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name of Sender

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party6Choice_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation des Senders</xd:documentation>
							<xd:documentation xml:lang="en">Identification of sender</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<!--***** Begin of change log -->
	<!-- 2016-02-12 -->
	<!-- initial release with redefinition -->
	<!-- 2016-06-09 -->
	<!-- correct type errors -->
	<!-- 2016-11-23 -->
	<!-- fix pattern notation -->
	<!-- 2017-07-21 -->
	<!-- change version attribute of schema to Corrigendum.2 -->
	<!-- add and amend rulebooks and implementation guidelines with 2017-V1 -->
	<!-- change attribute validityStart to 2017-11-01 -->
	<!-- add type ServiceLevel8Choice_Single for PmtInf/CdtTrfTxInf/PmtTpInf/SvcLvl -->
	<!-- assign type ServiceLevel8Choice_Single to element PmtInf/CdtTrfTxInf/PmtTpInf/SvcLvl -->
	<!-- add type CategoryPurpose1Choice_Single for PmtInf/CdtTrfTxInf/PmtTpInf/CtgyPurp -->
	<!-- assign type CategoryPurpose1Choice_Single to element PmtInf/CdtTrfTxInf/PmtTpInf/CtgyPurp -->
	<!-- change documentation of GrpHdr/CtrlSum, PmtInf/NbOfTxs, PmtInf/CtrlSum, PmtInf/PmtTpInf, PmtInf/CdtTrfTxInf/PmtTpInf, PmtInf/CdtTrfTxInf/PmtTpInf/SvcLvl/Cd, PmtInf/CdtTrfTxInf/PmtTpInf/CtgyPurp/Prtry -->
	<!--***** End of change log -->
</xd:schema>
